{% set price_table = appraisal.Prices|make_price_table %}
{% set totals = appraisal.totals() %}
{% macro print_price_cell(price_dict, quantity=1) -%}
  {% if price_dict.volume != 0 %}
    <span class="nowrap">{{ (price_dict.price * quantity|float)|format_isk }}</span>
  {% else %}
    <span class="nowrap warning-message">No Market Volume</span>
  {% endif %}
{%- endmacro %}

{% macro print_row(item) -%}
    {% set name = item.typeName|default(item.name) %}
    {% if item.bpc %}
      {% set name = '%s (Copy)'|format(name) %}
    {% endif %}
    {% set typeID = item.typeID|default(1) %}

    <tr class="line-item-row {% if item.destroyed %}error{%endif%}">
      <td class="rightalign">{{ item.quantity|comma_separated_int }}</td>
      <td>
          <div class="media">
            {% set market_url = "http://eve-central.com/home/quicklook.html?typeid=%s"|format(typeID) %}
            {% if is_from_igb() %}<a href="#" onclick="CCPEVE.showMarketDetails({{ typeID }})"> {% else %}<a href="{{market_url}}" target="_blank">{% endif %}<img class="pull-left media-object" src="https://image.eveonline.com/Type/{{ typeID }}_32.png" alt="{{ item.typeName }}"></a> &nbsp;<a href="{{market_url}}" target="_blank">{{ name }}</a>
          </div>
      </td>
      <td class="rightalign">{% if appraisal.Kind == 'cargo_scan' and item.get('repackaged_volume',0) > 0 %}{{ item.repackaged_volume|format_volume }}{% else %}{{ item.volume|format_volume }}{% endif %}</td>
      {% if item.prices.buy and item.prices.sell %}
        {% set representative_price = item.prices.sell.price or item.prices.buy.price %}
        <td class="rightalign" data-sort="-{{ representative_price }}">
          {{ print_price_cell(item.prices.sell) }}<br />{{ print_price_cell(item.prices.buy) }}
        </td>
        <td class="rightalign" data-sort="-{{ representative_price * item.quantity|float }}">
          {{ print_price_cell(item.prices.sell, item.quantity) }}<br />{{ print_price_cell(item.prices.buy, item.quantity) }}
        </td>
        <td class="rightalign" data-sort="-{{ representative_price / (item.volume or 1) }}">
          {% if appraisal.Kind == 'cargo_scan' and item.get('repackaged_volume',0) > 0 %}
          {{ print_price_cell(item.prices.sell, 1/(item.repackaged_volume or 1)) }}<br />{{ print_price_cell(item.prices.buy, 1/(item.repackaged_volume or 1)) }}
          {% else %}
          {{ print_price_cell(item.prices.sell, 1/(item.volume or 1)) }}<br />{{ print_price_cell(item.prices.buy, 1/(item.volume or 1)) }}
          {% endif %}
        </td>
      {% else %}
      <td class="rightalign" data-sort="-1"><span class="warning-message">Unknown</span></td> 
      <td class="rightalign" data-sort="-1"><span class="warning-message">Unknown</span></td>
      <td class="rightalign" data-sort="-1"><span class="warning-message">Unknown</span></td>
      {% endif %}
    </tr>
{%- endmacro %}
<div>
  <h4>
    <span class="nowrap">
      {{ totals.sell|format_isk_human }} <small>estimated <strong>sell</strong> value {% if appraisal.Market %} in {{ appraisal.Market|market_name }}{% endif %}</small>
    </span>
    &nbsp;&nbsp;
    <span class="nowrap">
      {{ totals.buy|format_isk_human }} <small>estimated <strong>buy</strong> value {% if appraisal.Market %} in {{ appraisal.Market|market_name }}{% endif %}</small>
    </span>
  </h4>

<table id="results" class="table table-striped table-condensed tablesorter">
  <thead>
    <tr>
      <th class="header">Qty</th>
      <th class="header itemheader">Item</th>
      <th class="header">Vol (m3)</th>
      <th class="header rightalign">Single&nbsp;(sell)<br />Single&nbsp;(buy)</th>
      <th class="header rightalign">Total&nbsp;(sell)<br />Total&nbsp;(buy)</th>
      <th class="header rightalign">ISK/m3&nbsp;(sell)<br />ISK/m3&nbsp;(buy)</th>
    </tr>
  </thead>
  <tbody>
  {% for item in appraisal.iter_types() %}
    {{ print_row(item) }}
  {% endfor %}

  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="rightalign"><span class="nowrap">Total Sell Value</span><br />
        <span class="nowrap">Total Buy Value</span><br />
        <span class="nowrap">{% if appraisal.Kind == 'cargo_scan' %}Repackaged Volume{% else %}Total Volume{% endif %}</span></td>
      <th colspan="2" class="rightalign">
        <span class="nowrap">{{ totals.sell|format_isk }}</span><br />
        <span class="nowrap">{{ totals.buy|format_isk }}</span><br />
        <span class="nowrap">{% if appraisal.Kind == 'cargo_scan' %}{{ totals.repackaged|format_volume }}{% else %}{{ totals.volume|format_volume }}{% endif %}m<sup>3</sup></span>
      </th>
      <td></td>
    </tr>
  </tfoot>
</table>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='templates.kinds.default.js') }}"></script>