{% block header %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{_('app title')}} - {{_('app short description')}}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{_('app short description')}}" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/bootswatch/2.3.2/cyborg/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='layout.default.css') }}" rel="stylesheet" />

    {% block extra_style %}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='layout.default.js') }}"></script>

    {% block extra_javascript %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{{ url_for('index') }}">{{_('app title')}}</a>
        <ul class="nav">
          <li><a href="{{ url_for('history') }}">{{_('history button')}}</a></li>
          {% block extra_menu_items %}{% endblock %}
          {% if g.user %}
            <li><a href="{{ url_for('options') }}">{{_('options button')}}</a></li>
            <li><a href="{{ url_for('logout') }}">{{_('logout button')}}</a></li>
          {% else %}
            <li><a id="loginlink" href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='EVE_SSO_Login_Buttons_Small_Black.png') }}" alt="EVE : LOG IN with EVE Online" /></a></li>
          {% endif %}
        </ul>
        <ul class="nav pull-right">
          <li><a href="#help-modal" data-toggle="modal">{{_('help tile')}}</a></li>
        </ul>

      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar --> 

    <div id="help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="help-modal" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{_('help tile')}}</h3>
      </div>
      <div class="modal-body">
      <h4>What is this?</h4>
      <p>This is a tool for Eve Online aimed at being able to quickly price check items. </p>

      <h4>Why would I use this?</h4>
      <p>You scan a drake full of original blueprints that you weren't able to quickly see because you sorting through the tabacco, spirits, exotic dancers, T1 planetary comodaties, livestock, garbage, scrap metal, and other random junk you're likely to find in the cargo hold. This tool will allow you to quickly see what's valuable and a rough estimate of how valueable everything is so the few seconds that you have to decide to commit won't be wasted messing messing around with eve's UI. This tool also happens to be pretty decent at doing quick price checks.</p>

      <h4>How are prices calculated?</h4>
      <p>Prices are pulled from <a href="http://eve-central.com/">Eve-Central.com</a> and (as a backup) <a href="http://eve-marketdata.com/">Eve-Marketdata.com</a>. Capital ship prices are set by the sum of their component parts.</p>
      
      <h4>Caveats/Known Issues</h4>
      <ul>
        <li>There's no reliable way to get prices of blueprint copies (BPCs). Due to this, I don't even try to guess a price for them.</li>
        <li>Non-english formats don't always work properly with certain formats.</li>
      </ul>

      <h4>How do I contact you?</h4>
      <p>Feel free to send me an in-game mail. My character name is <a href="https://gate.eveonline.com/Profile/Magerawr" target="_blank">Magerawr</a>. If you found an issue, feel free to open an <a href="https://github.com/sudorandom/evepraisal/issues?state=open" target="_blank">issue on github</a>.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{_('close buton')}}</button>
      </div>
    </div>
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="span12">
          {% for message in get_flashed_messages(category_filter=["error"]) %}
            <div class="alert alert-error">
              <strong>{{_('error')}}:</strong> {{ message }}
            </div>
          {% endfor %}
            {% for message in get_flashed_messages(category_filter=["warning"]) %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endfor %}
          {% for message in get_flashed_messages(category_filter=["message"]) %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
      {% block body %}{% endblock %}
    </div>

    {% block footer %}
    <footer>
      <p class="footer">{{_('footer text')}}</p>
    </footer>
    {% endblock %}
  </body>
</html>
