{% if full_page %}
  {% extends 'index.html' %}
  {% block title %}{{_('app title')}} - Result #{{ appraisal.Id }} [{{appraisal.Kind|format_kind}}]{% endblock %}
{% else %}
<script>
  document.title = "{{_('app title')}} - Result #{{ appraisal.Id }} [{{appraisal.Kind|format_kind}}]";
</script>
{% endif %}
{% block results %}
<div id="raw-result-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="raw-result-modal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Raw Pasted Text</h3>
  </div>
  <div class="modal-body">
    <textarea class="input-block-level" rows="10">{{ appraisal.RawInput }}</textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div>
  <p class="leftfloat">Result {% if appraisal.Public %}<strong>#{{ appraisal.Id }}</strong> {% endif %} ({{ appraisal.Kind|format_kind }}) created {{ appraisal.Created|relative_time}}.
 <a href="#raw-result-modal" data-toggle="modal">View Raw</a>&nbsp;&nbsp;</p>
  <p class="leftfloat"> {% if appraisal.Public %} <strong>Permalink</strong>: <a href="{{ url_for('display_result', result_id=appraisal.Id) }}">{{ url_for('display_result', result_id=appraisal.Id, _external=True) }}</a> {% endif %}</p>
  <div class="clearfix visible-xs"></div>
</div>
{% set bad_line_count = appraisal.BadLines|length %}
{% if bad_line_count > 0 %}
<span class="warning-message">Found <a href="#errored-lines-modal" data-toggle="modal">{{ bad_line_count }} invalid line(s)</a>.</span>
<div id="errored-lines-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="errored-lines-modal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Errored Lines</h3>
  </div>
  <div class="modal-body">
    <textarea class="input-block-level" rows="10">{% for line in appraisal.BadLines %}{{ line }}
{% endfor %}</textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{_('close buton')}}</button>
  </div>
</div>
{% endif %}
{% if appraisal.Kind == 'heuristic' %}
<span class="warning-message">The heuristic parser was used to parse this result. That means that the format of the data you entered is unknown to Evepraisal and some guess-work was used to bring you the results below.</span>
{% endif %}
{% include 'kinds/default.html' %}

{% if not is_from_igb() and not full_page %}
<script>
$(document).ready(function() {
      window.history.replaceState('Object', 'Title', '{{ url_for('display_result', result_id=appraisal.Id) }}');
});
</script>
{% endif %}
{% endblock %}
